{% extends 'app/base.html' %}

{% block content %}

	<div class="container">
	<div class="row">
	<div class="col-xs-12">
	<blockquote>
		<h3>List of Parameter Values </h3>
		{% if user.is_authenticated %}
		{% else %}
		<p><small>Note: To add new entries, you need to be logged in</small></p>
		{% endif %}
		<ul>
			{% for item in object_list %}
				<li>{{ item.name }}</li>
			{% endfor %}
		</ul>
	</blockquote>
	{% if user.is_authenticated %}
	<blockquote>
		<h3><a href="/dbcontent/Parameter_Values/add">Click here</a> to add elements to database</h3>
	</blockquote>
	{% endif %}
	</div>
	</div>
	</div>

{% endblock %}
