{% extends 'app/base.html' %}

{% block content %}
	<div class = "container">
		<h2 class="display-2">Given below is a brief description of various functionalities of this tool</h2>
		<blockquote>

			<h4><b><a href = "/tree" >Generate_AND-OR_Tree(Process):</a></b></h4>
			<p>Generates a AND-OR Tree representing a set of processes</p>
			</br>			

			<h4><b><a href = "/item">Retrieve_Explanation(Item):</a></b></h4>
			<p>Retrieves all processes with the information for the related condition/prevent/result items</p>
			</br>

			<h4><b><a href = "/item">Retrieve_Process_Support(Process):</a></b></h4>
			<p>Retrieves a tree (OrTree) expressing the support for given process(process with all relevant items information)</p>
			</br>

			<h4><b><a href = "/item">Retrieve_Items_Support(Items):</a></b></h4>
			<p>Retrieves a tree (OrTree) expressing the processes needed for the item</p>
			</br>

			<h4><b><a href = "/item">Get_Items_Generators_Set(Items):</a></b></h4>
			<p>Creates a Cartesian product of the processes which have the specified items as results</br>
			 For example, assume that the needed items are [itemA, itemB], and they are results of the following processes:</br>
			  itemA: pr1, pr2</br>
			  itemB: pr40, pr50</br>
			  Then the result of this procedure would be:</br> 
			  [pr1, pr40], [pr2, pr40], [pr1, pr50], [pr1, pr50]</p>
			</br>			

			<h4><b><a href = "/item">Get_Tree(ProcessORTree):</a></b></h4>
			<p>Retrieves the tree from the GLOBAL set of pre-generated trees, which matches the process or the provided tree description and the input - processOrTree is the searched process or And/OrTree</p>
			</br>

			<h4><b><a href = "/item">Get_All_Processes_With_Items():</a></b></h4>
			<p>Returns all available processes with populated items information</p>
			</br>

			<h4><b><a href = "/item">Get_Items_From_Processes(Processes):</a></b></h4>
			<p>Returns all items used in the described processes with populated processes information</p>
			</br>

		</blockquote>
	</div>

{% endblock %}