	{% extends 'app/base.html' %}

        {% block content %}
            <h2>Welcome to Governance Tool</h2>

            <blockquote>
                <h3>A brief introduction</h3>
                <p>We take the perspective that the governance processes to be modeled can be presented as a set of
									interconnected Processes
									The goal is not only to construct process models but also to explore how a subset of this can be
									represented in a database and allow for extracting
									information about governance processes relevant to certain development projects.
								</p>
            </blockquote>

						<blockquote>
                <h3>How it works</h3>
									<p>It generates a set of AND-OR trees of governance steps for a set of entities
										(e.g. projects) selected based on certain attributes (columns, e.g. project category).
										It marks items that cannot be achieved because there exists no sequence of steps (either
										because they are missing or due to explicit contradictions).
									</p>
									<p> Producing a tree implies that	it does not recognize if a step is reached via different paths. It also
										means that it handles	multiple conditional items (creating the AND) and alternative steps yielding the
										same result	item (creating the OR).
									</p>
            </blockquote>

            <blockquote>
                <h3>About Database Models</h3>
                <p>The tool uses various entries in database to come up with the relevant AND-OR tree for a given
									project. And, so it's imperitive that we have a robust database model. Know more about the
									database model <a href = "/dbcontent/brief" title="Briefing Page">here</a>.
								</p>
            </blockquote>

        {% endblock %}
