	{% extends 'app/base.html' %}

        {% block content %}
            <h2>Welcome to the Governance Tool</h2>

            <blockquote>
                <h3>A brief introduction</h3>
                <p>The Governance Tool generates a set of AND-OR trees of governance steps for a set of entities
									(e.g. projects) selected based on certain attributes (columns, e.g. project category). </p>
            </blockquote>

						<blockquote>
                <h3>How it works</h3>
									<p>The tool generates a set of AND-OR trees of governance steps for a set of entities
										(e.g. projects) selected based on certain attributes (columns, e.g. project category).
										It marks items that cannot be achieved because there exists no sequence of steps (either
										because they are missing or due to explicit contradictions).
									</p>
									<p> Producing a tree implies that
										it does not recognize if a step is reached via different paths. It also means that it handles
										multiple conditional items (creating the AND) and alternative steps yielding the same result
										item (creating the OR).
									</p>
            </blockquote>

            <blockquote>
                <h3>About Database Models</h3>
                <p>The tool uses various entries in database to come up with the relevant AND-OR tree for a given
									project. And, so it's imperitive that we have a robust database model. Know more about the
									database model <a href = "/dbcontent/brief" title="Briefing Page">here</a>.
								</p>
            </blockquote>


            <!--
            <h4>Given below is a list of functionalities of this tool</h4>
            <ul>
                <li title = "Generates AND-OR Tree representing a conjunction and disjunction of set of processes">
                    <a href = "/tree" >Generate AND-OR Tree for a process</a></li>
                <li title = "Retrieves all processes with the information for the related condition/prevent/result items">
                    <a href = "/item">Retrieve Explanation for a item</a></li>
                <li title = "Retrieves a tree expressing the support for a process">
                    <a href = "/item">Retrieve Process Support</a></li>
                <li title = "Retrieves a tree expressing the processes needed for the item">
                    <a href = "/item">Retrieve Item Support</a></li>
                <li title = "Creates a Cartesian product of the processes which have the specified items as results">
                    <a href = "/item">Get Items Generator set</a></li>
                <li title = "Retrieves a tree which matches the given process, and has been created earlier">
                    <a href = "/item">Get a pre-generated Tree</a></li>
                <li title = "Return all available process with populated items information">
                    <a href = "/item">Get all process with items</a></li>
                <li title = "Returns all items used in the described processes with populated process information">
                    <a href = "/item">Get Items from processes</a></li>
            </ul>
            -->
        {% endblock %}
